body {
	font-size: 22px;
	font-family: Inter;
	font-weight:600;
	transition: all 0.3s ease;
}

.dayNight {
	background-color: #232323;
	color: white;
	transition: all 0.3s ease;
}

.inputNight{
	background-color: #232323;
	color:white;
	box-shadow: 0 0 20px rgba(0,0,0, 0.3);
	transition: all 0.3s ease;
}

.line {
	text-decoration: line-through;
	color: #0071e3;
	transition: all 0.1s ease;
}

.listNight {
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0,0,0, 0.3);
}

li {
	list-style-type: none;
	margin-left: -25px;
	padding: 4px 3px 4px 10px;
	border-radius: 6px;
	transition: all 0.2s ease;
}

li:first-letter {
    text-transform:capitalize;
}

.main {
	display: flex;
	min-height: 100vh;
	justify-content: center;
}

.mainSection {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 95vh;
}

input {
	border-radius: 10px;
	border: none;
	width: 100%;
	height: auto;
	outline: none;
	padding: 12px 25px 12px 25px;
	margin-top: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-bottom: 10px;
	transition: all 0.3s ease;
	font-weight:600;
}

/*list*/
.list {
	display: flex;
	text-align: left;
	height: 77vh;
	max-width: auto;
	overflow: auto;
	padding: 25px 15px 0px 15px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

ul {
	min-width: 100%;
}

li {
	margin-bottom: 17px;
	font-size: 22px;
}

.footer {
	margin-top:10px;
}

.footerBtns {
	display: flex; 
	justify-content: space-between;
	margin-bottom: 0px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2); 
	border-radius: 10px; 
	padding: 13px 0px 13px 0px;
}

.clean {
	margin-left: 20px;
	cursor: pointer;
	color: grey;
	text-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.cleanNight {
	color: #0071e3; 
}

.view {
	opacity: 0.6;
	margin-right: 20px;
}

@font-face{
	font-family: "Inter";
	src:url(fonts/Inter/Inter.ttf);
}